<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class-app mail</title>
    <link rel="stylesheet" href="mail.css">
    <script src="mail.js" defer></script>

</head>
<body>
    <div id="header">
         <a href="file:///C:/Users/masaaki/Desktop/class-app/home/home.html">
            <img src="logo.png" alt="ホーム" id="logo">
        </a>
    </div>
    <h1>メール</h1>
    <div id="mail">
        <div id="send">
            <p id="message_1">メッセージを書こう</p>
            <textarea id="message" placeholder="送る内容"></textarea>
            <p id="message_2">送る相手のユーザ名を書こう</p>
            <p id="message_3">(みんなに送るときは＠</p>
            <p id="message_4">グループに送るときは＠グループ名)</p>
            <input id="touser" type="text" placeholder="相手">
            <p></p><button id="button">送る</button>
        </div>
        <div id="reception">
            <ul>
                
            </ul>
        </div>
    </div>
</body>
</html>