<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>class-app login</title>
  <link rel="stylesheet" href="/css/login.css">
<body>
  <div class="loginset">
    <h1 class="login">ログイン</h1>
    <form action="/login" method="POST">
      <input name="user" type="text" placeholder="ユーザー名" id="user"><br>
      <input name="pass" type="password" placeholder="パスワード" id="pass"><br>
      <button type="submit" id="loginBotton">ログイン</button>
    </form>  
  </div>
</body>
</html>